@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

html {
  @apply font-Poppins scroll-smooth;
}
body {
  @apply box-border bg-gray-900 text-gray-100;
}
.btn-primary {
  @apply bg-cyan-600 font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}

.aboutImg::after {
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-gray-600 -z-10;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-cyan-600;
}

.name {
  font-weight: 800;
  text-shadow: 1px 1px 1px #253d72, 
             3px 3px 5px rgb(119, 119, 128);
}


/* My Portfolio Starts */
.portfolio--section { 
  padding: 100px 95px;
  gap: 80px;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
  
}
.portfolio--section--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  width: 100%;
}
.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}
.portfolio--section--img > img {
  width: 100%;
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  /* background: #fff; */
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}
.portfolio--section--title {

  margin-bottom: 1rem;
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: #006b6a;
}

.btn-github {
  color: var(--white);
  border: var(--github);
  display: flex;
  flex: end;
  align-items: center;
  gap: 16px;
  padding: 14px 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 20px;
  
}

/* Portfolio Ends */

@media only screen and (max-width: 900px) {
  .portfolio--section--container {
    grid-template-columns: repeat(2, 1fr);
   
  }
  .portfolio--section {
    padding: 60px 40px;
  }
}
@media only screen and (max-width: 600px) {
  .portfolio--section--container {
   
    grid-template-columns: repeat(1, 1fr);
    
  }
}